build/
output/
*.swp
*~
*.sav
*.old
*.new
*.ori

./astrolib/
./astrolib/libastrolib.a
.cproject
.project

#Ignore cuda build temporary files
*.ptx
*.cudafe*
*.cubin
*.fatbin
*.fatbin.*
*.i
*.ii
*.module_id
*.reg.c
*.o
